{% from 'forms/_form.html' import form_fieldset %}
{% from '_switch.html' import switch %}

{% call form_fieldset(_('Focal point management')) %}
    <div class="flexrow f-a-center">
        {{ switch(id='focal-point-management', name='focal_point_management', checked=enabled, disabled=disabled) }}
        <span style="margin-left: .75em">
            {% trans %}Allow affiliation focal points to manage the registrations of their own affiliations submitted through this form.{% endtrans %}
        </span>
    </div>
{% endcall %}
