{% set event = reg.event %}
<li class="my-registrations-row">
    <div class="my-registrations-row-main">
        <a class="my-registrations-title" href="{{ event.url }}" title="{{ event.title }}" data-no-qtip>
            {{ event.title }}
        </a>
        <div class="my-registrations-meta">
            <span>
                <i class="icon-calendar"></i>
                {{ event.start_dt | format_datetime(timezone=event.timezone) }}
                {%- if event.end_dt != event.start_dt %}
                    {{ '–' }} {{ event.end_dt | format_datetime(timezone=event.timezone) }}
                {%- endif %}
            </span>
            <span>
                <i class="icon-clipboard"></i>
                {{ reg.registration_form.title }}
            </span>
        </div>
    </div>
    <div class="my-registrations-row-side">
        {% if reg.checked_in %}
            <span class="i-tag {{ _state_class['attended'] }}">{% trans %}Attended{% endtrans %}</span>
        {% else %}
            <span class="i-tag {{ _state_class.get(reg.state.name, 'strong') }}">
                {{ reg.state.title }}
            </span>
        {% endif %}
    </div>
</li>
